# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Go coverage
*.out

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Database and files
postgres_data
redis_data
dev_note.md